.grid-productpage {
	display: grid;
	grid-template-columns: repeat(5, auto);
	grid-template-areas:
		"sidenav product product product product"
		"sidenav product product product product"
		"sidenav product product product product";
}

.gap-xs {
	gap: 0.5rem;
}

.input-radio,
.input-checkbox {
	width: 1.2rem;
	height: 1.2rem;
	border: 2px solid var(--primary-dark);
}

.input-radio::before,
.input-checkbox::before {
	width: 0.7rem;
	height: 0.7rem;
}

.filter-wrapper {
	width: 15rem;
}

.filter-section {
	border-bottom: 1px solid var(--ternary-dark);
	padding-bottom: 1rem;
}

.filter-title {
	display: flex;
	justify-content: space-between;
}
